Flow NodeRed Edge Gateway 211011.json
[{"id":"aba512c15a8fecd6","type":"tab","label":"Azure IoT Edge","disabled":false,"info":""},{"id":"5889b26a507ee092","type":"moduletwin","z":"aba512c15a8fecd6","client":"ad0fb0dd.c701d","x":110,"y":120,"wires":[["6fcf625c351538ce","59577671f5ddb1d8"]]},{"id":"6fcf625c351538ce","type":"debug","z":"aba512c15a8fecd6","name":"Twin msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":80,"wires":[]},{"id":"98ea2b9054a58bbf","type":"modulemethod","z":"aba512c15a8fecd6","client":"ad0fb0dd.c701d","method":"setValue","x":170,"y":640,"wires":[["2902e08cd3cd44dd","b418adc7f964d9e8","67d8a5abde16137b"]]},{"id":"2902e08cd3cd44dd","type":"debug","z":"aba512c15a8fecd6","name":"Method msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":640,"wires":[]},{"id":"b418adc7f964d9e8","type":"function","z":"aba512c15a8fecd6","name":"Response msg","func":"var response = { payload:\n\"{\\\"methodpayload\\\": \\\"\" + JSON.stringify(msg.payload) + \"\\\"}\" }\nresponse.payload.timestamp = Date.now()\nresponse.status = 100\nreturn response;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":720,"wires":[["98ea2b9054a58bbf"]]},{"id":"ebd81235a6892c33","type":"comment","z":"aba512c15a8fecd6","name":"Module twin","info":"","x":90,"y":40,"wires":[]},{"id":"978f19fe17140737","type":"comment","z":"aba512c15a8fecd6","name":"Process Direct Method","info":"","x":120,"y":580,"wires":[]},{"id":"80d5409bcaae675a","type":"comment","z":"aba512c15a8fecd6","name":"Process message and send to output","info":"","x":170,"y":240,"wires":[]},{"id":"67d8a5abde16137b","type":"link out","z":"aba512c15a8fecd6","name":"methodToDashboard","links":[],"x":435,"y":720,"wires":[]},{"id":"59577671f5ddb1d8","type":"function","z":"aba512c15a8fecd6","name":"set Flow Variable","func":"var obj = msg.payload;\n\nvar confTable = msg.payload.apparels;\nglobal.set(\"Apparels\", confTable);\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n// Code added here will be run once\n// whenever the node is started\nconst apparelArray =[\n       {\n        \"Id\" : \"192.168.1.133\",\n        \"def\" : {\n            \"ApparelID\":\"Ratiere3\",\n            \"PeriodeStatut\":60,\n            \"PeriodeTempTable\":120,\n            \"PeriodeSpeedTable\":120,\n            \"PeriodeLame\":300\n            }\n       },\n       {\n        \"Id\" : \"192.168.1.238\",\n        \"def\" : {\n            \"ApparelID\":\"Ratiere5\",\n            \"PeriodeStatut\":60,\n            \"PeriodeTempTable\":120,\n            \"PeriodeSpeedTable\":120,\n            \"PeriodeLame\":300\n            }\n       },\n       {\n        \"Id\" : \"192.168.0.141\",\n        \"def\" : {\n            \"ApparelID\":\"Ratiere5\",\n            \"PeriodeStatut\":60,\n            \"PeriodeTempTable\":120,\n            \"PeriodeSpeedTable\":120,\n            \"PeriodeLame\":300\n            }\n       },\n       {\n        \"Id\" : \"192.168.1.152\",\n        \"def\" : {\n            \"ApparelID\":\"Ratiere4\",\n            \"PeriodeStatut\":60,\n            \"PeriodeTempTable\":120,\n            \"PeriodeSpeedTable\":120,\n            \"PeriodeLame\":300\n            }\n       }\n    ]\n    \nglobal.set('Apparels',apparelArray);    \n\n\n\n","finalize":"","x":430,"y":140,"wires":[[]]},{"id":"432cd9073a616564","type":"moduleoutput","z":"aba512c15a8fecd6","client":"ad0fb0dd.c701d","output":"output2","x":410,"y":320,"wires":[]},{"id":"ca25023844cbad38","type":"debug","z":"aba512c15a8fecd6","name":"Output to cloud","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":400,"wires":[]},{"id":"5e47e88e9c2f3512","type":"link in","z":"aba512c15a8fecd6","name":"FromHTTPServeur","links":["93899d3339cba8d7"],"x":155,"y":400,"wires":[["432cd9073a616564","ca25023844cbad38"]]},{"id":"ad0fb0dd.c701d","type":"edgeclient"}]